.header
  h1 Compétences
  h2 Javascript

.cont

  /! Backbone
  .content-block
    img.smaller src="/images/logo_backbone.png"
    h2
      span.year
      span
        | BackboneJS
        a.hlink href="http://backbonejs.org" title="backbonejs.org" target="_blank"
          span.link-icon
    p Réalisation d'un projet pour le Ministère de la Justice, application web de type "single page", basée sur le framework Backbone.

  /! Angular
  .content-block
    img.smaller src="/images/logo_angularjs.png"
    h2
      span.year
      span
        | AngularJS
        a.hlink href="http://angularjs.org" title="angularjs.org" target="_blank"
          span.link-icon
    p Réalisation de ce site à l'aide d'Angular, expérimentations.

  /! Angular
  .content-block
    img.smaller src="/images/logo_jquery.png"
    h2
      span.year
      span
        | jQuery
        a.hlink href="http://jquery.org" title="jquery.org" target="_blank"
          span.link-icon
    p De nombreux projets réalisés à l'aide de jQuery, ainsi que jQuery UI. Conception de plugins.

  /! HTML5
  .content-block
    img.smaller src="/images/logo_html5.png"
    h2
      span.year
      span
        | HTML5
        a.hlink href="http://jquery.org" title="jquery.org" target="_blank"
          span.link-icon
    p De nombreux projets réalisés à l'aide de jQuery, ainsi que jQuery UI. Conception de plugins.

  /! CSS3
  .content-block
    img.smaller src="/images/logo_css3.jpg"
    h2
      span.year
      span
        | CSS3
        a.hlink href="http://jquery.org" title="jquery.org" target="_blank"
          span.link-icon
    p De nombreux projets réalisés à l'aide de jQuery, ainsi que jQuery UI. Conception de plugins.

  /! Less
  .content-block
    img.smaller src="/images/logo_less.png"
    h2
      span.year
      span
        | Less
        a.hlink href="http://jquery.org" title="jquery.org" target="_blank"
          span.link-icon
    p De nombreux projets réalisés à l'aide de jQuery, ainsi que jQuery UI. Conception de plugins.