.header
  h1 Compétences
  h2 Langues

.cont

  /! Backbone
  .content-block
    / img src="/images/logo_backbone.png"
    h2
      span
        | Anglais
    p Courant

  /! Angular
  .content-block
    / img src="/images/logo_angularjs.png"
    h2
      span
        | Espagnol
    p Scolaire
