.main-block#home

  nav#nav.navbar.navbar-default
    .container

      .navbar-header
        button.navbar-toggle type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          span.sr-only Toggle navigation
          i.fa.fa-bars

        a.navbar-brand href="/" CV - Nicolas Barbotte

      ul.nav.navbar-nav.collapse.navbar-collapse#bs-example-navbar-collapse-1
        li: a href="#home" Accueil
        li: a href="#studies" Études
        li: a href="#experiences" Expériences
        li: a href="#skills" Compétences
        li: a href="#projects" Projets

  .content

    .home
      hgroup.main

        h1
          .row
            img.col-md-offset-4.col-md-2.col-xs-6.col-xs-offset-1 src="/images/me_nb.jpg"
            .name.col-md-5.col-xs-offset-1.col-md-offset-0
              div Nicolas
              div Barbotte

              h2
                .row
                  span
                    | Ingénieur full stack

              span.links
                a href="mailto:nicolas@barbotte.net" title="Envoyer un email": i.fa.fa-envelope
                a href="//github.com/nicompte" target="_blank" title="Profil github": i.fa.fa-github
                a href="//linkedin.com/pub/nicolas-barbotte/16/2b2/931" target="_blank" title="Profil LinkedIn": i.fa.fa-linkedin
                a href="http://barbotte.s3.amazonaws.com/CV - Nicolas Barbotte.pdf" target="_blank" title="Télecharger mon CV": i.fa.fa-file-pdf-o.cv-icon
      /
        .cont
          p
            | Ingénieur en systèmes d'information, je recherche actuellement un emploi. N'hésitez pas à parcourir mon CV,
            |  et à me contacter si celui-ci vous intéresse.

    ==Slim::Template.new('views/parts/studies.slim').render
    ==Slim::Template.new('views/parts/experiences.slim').render
    ==Slim::Template.new('views/parts/skills.slim').render
    ==Slim::Template.new('views/parts/projects.slim').render

  #footer.navbar-nav.navbar-default
    .container
      .text-muted.navbar-nav
        | Nicolas Barbotte
      ul.navbar-nav.links
        li: a href="mailto:nicolas@barbotte.net" title="Envoyer un email": i.fa.fa-envelope
        li: a href="//github.com/nicompte" target="_blank" title="Profil github": i.fa.fa-github
        li: a href="//linkedin.com/pub/nicolas-barbotte/16/2b2/931" target="_blank" title="Profil LinkedIn": i.fa.fa-linkedin
        li: a href="http://barbotte.s3.amazonaws.com/CV - Nicolas Barbotte.pdf" target="_blank" title="Télecharger mon CV": i.fa.fa-file-pdf-o.cv-icon


  ul.nav.pull-right.scroll-top
    li: a href="#home" title="Scroll to top": i.fa.fa-chevron-up
