#skills
.header
  h1 Compétences

.cont.small

  h2 Développement

  /! Web font end
  .content-block
    img src="/images/window.png"
    h2
      span.year
      span
        | Web front End

    p
      | Utilisation de nombreux frameworks, notamment jQuery, backbone, ou angularjs,
      | aussi bien lors de mes expériences professionelles, ou sur des projets personnels.
    ul.skills
      li Angular
      li Backbone
      li jQuery
      li jQueryUI
      li Coffeescript
    .clear
    ul.skills
      li HTML5
      li Css
      li Less
      li Bootstrap
    .clear

  /! Web back end
  .content-block
    img src="/images/server.png"
    h2
      span.year
      span
        | Web back End

    p
      | Utilisation de nombreux frameworks, notamment jQuery, backbone, ou angularjs,
      | aussi bien lors de mes expériences professionelles, ou sur des projets personnels.
    ul.skills
      li J2E
      li Spring
      li Hibernate
      li Sql
      li MongoDB
      li Ruby sinatra
      li NodeJS
    .clear

  /! Divers
  .content-block
    img src="/images/logo_code.png"
    h2
      span.year
      span
        | Divers

    p
      | Technologies que j'ai pu approcher au cours de projets professionels ou personnels.
    ul.skills
      li Git
      li Svn
      li c#
      li Windows Phone
    .clear

  h2 Fonctionnel

  /! SFD
  .content-block
    h2
      span
        | Spécifications fonctionnelles
    p De nombreux projets réalisés à l'aide de jQuery, ainsi que jQuery UI. Conception de plugins.

  /! SFD
  .content-block
    h2
      span
        | Business analysis
    p De nombreux projets réalisés à l'aide de jQuery, ainsi que jQuery UI. Conception de plugins.

  h2 Langues

  /! Anglais
  .content-block
    img.drapeau src="/images/logo_anglais.png"
    h2
      span.year
      span
        | Anglais
    p Anglais de niveau courant.

  /! Espagnol
  .content-block
    img.drapeau src="/images/logo_espagnol.png"
    h2
      span.year
      span
        | Espagnol
    p Espagnol de niveau scolaire.
